.App {
	text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  
}
.App-header img {
	margin: auto;
	width: 100%;
	max-width: 300px;
}

.App-header p {
	font-size: 16px;
	padding-top: 5%;
}

.App-start {
	margin-top: 5%;
}

.App-start img {
	width: 20%;
	max-width: 75px;
}

.App-login {
  margin-top: 5%;
  width: 100%;
}

.App-login a {
	display: inline-block;
	margin: 10px;
}

.App-home {
	width: 100%;
	position: fixed;
	bottom: 10px;
	margin: auto;
	background-color: white;
}

.App-home img {
	width: 10%;
	max-width: 50px;
}

.form label, form input {
	display: block;
	width: 50%;
	margin: auto;
}

.city {
	display: inline-block;
	padding: 5px;
}

.Carousel {
	max-height: 40%;
}

.Carousel img {
	width: 150px;
	margin: 5px;
}

.Carousel p {
	text-align: left;
}

.hashtags {
	display: inline;
	
}

.activity-info p {
	display: block;
	padding-right: 20px;
}
