h6 {
  text-align: left;  
}

.Activities {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
}

.Activities-carousel {
    white-space: nowrap;
    margin: 5px 0px;
}

.Activity {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    object-fit: cover;
}
